/* ====================== Custom LESS For Responsive View ========================================= */
.header-container .item-right { display: inline-block !important; }
.responsive-operation-hours { display: none; }

#search_autocomplete,
.amsearch-form-container .search-autocomplete .amsearch-results .amsearch-leftside {
  min-width: 185px;
}

body.cms-about-us .main-container {
  padding: 0;
}

.mobile-appointment {
  display: none;
}

.header-regular .block-search .input-text:focus {
  box-shadow: none !important;
}

.header-regular .block-search.expanding._active .input-text {
  padding-left: 34px;
}

.header-top-container #lang-switcher-wrapper-regular {
  display: none;
}

.amsearch-results {
  overflow: hidden;
  overflow-y: auto;
}

.amsearch-form-container .search-autocomplete {
  left: auto;
  top: 41px;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  background: #f2f2f2;
  border: none;
}

button.amsearch-loupe:hover {
  background-color: transparent;
}

.amsearch-form-container .amsearch-wrapper-input .amsearch-close {
  top: 55% !important;
}

.amsearch-close {
  padding: 16px 5px;
  top: 50%;
  transform: translate(0, -60%);
}

.amsearch-form-container.-opened .input-text {
  padding-left: 40px;
}

.search-autocomplete {
  display: none;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 3;
}

.amsearch-form-container.-opened .amsearch-wrapper-input {
  position: static;
}

.amsearch-item-container > .amasty-xsearch-block-header::before {
  display: none;
}

input#search::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.amsearch-form-container .amsearch-products .amsearch-wrapper-content .product-item-link {
  line-height: 1.2;
}

.amsearch-item .product-item-description,
.amsearch-item .item-description {
  font-size: 12px;
  margin: 5px 0;
}

.amsearch-form-container .amsearch-products .amsearch-wrapper-content > .amsearch-item {
  width: 100% !important;
}

.amsearch-wrapper-content .product-item-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100px !important;
}

.amsearch-wrapper-content .amsearch-wrapper-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

.amsearch-wrapper-content .amsearch-autocomplete-information {
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #43556b;
}

.amsearch-wrapper-content .product-item-details .actions-secondary {
  display: none !important;
}

.search .amsearch-loupe {
  top: 50%;
  transform: translate(0, -60%);
}

.amsearch-form-container .input-text:focus {
  border: 0 solid #a08f65;
  box-shadow: none;
}

.amsearch-item .item-name,
.amsearch-item .product-item-link {
  color: #cea298 !important;
  line-height: 1.2;
}

.amsearch-wrapper-content .amsearch-wrapper-inner .price-box {
  max-width: inherit;
  margin: 0;
  line-height: 1.1;
}

.amsearch-more-results .amsearch-link {
  background-color: transparent;
}

.cms-page-view .language-switcher {
  display: block;
  float: right;
  margin: -25px 0 5px 0;
}

.cms-page-view .language-switcher a {
  color: #999;
  font-weight: bold;
}

.categoryPromo * {
  padding: 0;
  color: #fff !important;
}

.footer-menu ul li a {
  margin: 0 24px;
}

.cms-page-view .language-switcher .flag--uk {
  display: inline-block;
  margin-right: 7px;
  height: 12px;
  width: 18px;
  background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%), linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%), linear-gradient(90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%), linear-gradient(33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%), linear-gradient(-33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
}

.cms-page-view .language-switcher .flag--spain {
  display: inline-block;
  margin-right: 7px;
  height: 12px;
  width: 18px;
  background: linear-gradient(red 25%, yellow 25%, yellow 75%, red 75%);
}

.mylivechat_buttonround {
  top: 35px !important;
}

.testimonials .flex-prev {
  left: -25px;
}

.testimonials .flex-next {
  right: -25px;
}

.dallas-loc {
  margin-top: 52px;
}

.giftcard-design-button-container button,
.product.data.items.style1.show-tabs > .item.title.active > .switch,
.product.data.items.style1.show-tabs > .item.title.active > .switch:focus,
.product.data.items.style1.show-tabs > .item.title.active > .switch:hover,
.catalog-product-view .product-primary-column .product-social-links .feature-icon-hover .ic,
.promorule-shpping,
.account .welcome-msg {
  background-color: #1c2a67 !important;
}

.footer-container .footer-container2 .footer-container3 #scroll-to-top {
  background-color: #d6d9d2 !important;
}

.price-box .price,
.rating-summary .rating-result > span::before,
.review-control-vote label::before {
  color: #1c2a67 !important;
}

.giftcard-design-button-container.active button {
  background-color: #1c2a67 !important;
}

.catalog-product-view .product-primary-column .product-social-links .feature-icon-hover:hover .ic,
.catalog-product-view .product-primary-column .product-social-links .feature-icon-hover .ic {
  -webkit-text-fill-color: #fff;
}

.product-info-main .page-title-wrapper .page-title {
  line-height: 1;
  font-weight: 400;
}

.cta-block .cta-description {
  background: #373237;
}

.nav-regular:not(.nav-vert) .nav-item.level0:hover > a span {
  border-bottom: 1px solid;
  font-weight: 600;
}

.nav-regular:not(.nav-vert) .nav-item.level0:hover > a span.caret {
  border: none;
}

.nav-regular li.level0 > a > span {
  border-bottom: 1px solid transparent;
}

.make-appointment .fieldset .legend,
.franchise-options .fieldset .legend {
  font-weight: 500;
  line-height: 1;
}

.make-appointment input.input-text,
.make-appointment select,
.make-appointment textarea,
.franchise-options input.input-text,
.franchise-options select,
.franchise-options textarea {
  color: #232323 !important;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #c3c1c3;
  height: 40px;
}

.make-appointment .actions-toolbar > .primary button {
  text-transform: uppercase;
}

.webforms-success-text {
  padding: 30px;
  background: #1c2a76;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.bullet li {
  font-size: 16px;
  color: #373237;
  line-height: 2;
  margin-bottom: 2.5px;
}

p.testi_desc {
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 2.5px;
  max-width: 95%;
}

.cms-page-view .breadcrumbs {
  display: none;
}

.breadcrumbs {
  display: block;
  margin: 10px 0;
}

.block.newsletter {
  box-sizing: border-box;
}

.footer-bottom .footer-copyright {
  display: none;
}

.footer-bottom .item.item-left {
  float: none;
}

.minicart-wrapper:hover .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog:last-child {
  display: none !important;
}

.minicart-wrapper:hover .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog {
  display: block !important;
}

.minicart-items .update-cart-item {
  padding: 6px 15px;
}

strong#block-upsell-heading {
  font-family: 'TrajanPro-Regular', Arial, Helvetica, sans-serif;
  color: #1c2a67;
}

h2#block-mageplaza-fbt-heading {
  font-size: 24px;
  text-transform: capitalize;
}

.customer-review .product-name {
  color: #373237;
  font-size: 23px;
}

button,
.review-form .action.submit.primary,
.cart.table-wrapper .actions-toolbar > .action,
.action-gift,
.block-cart-failed .action.continue,
.cart-container .form-cart .action.continue,
.cart-gift-item .gift-item-block .title,
.gift-options .actions-toolbar .secondary .action,
#minicart-content-wrapper .actions .primary button {
  font-size: 15px;
}

.header-regular .block-search.expanding._active {
  width: 300px;
}

.banner-bottom h1,
.media-coverage h1,
.testimonials h2 {
  text-transform: none;
}

.action.primary,
.catalog-product-view .product-info-main .box-tocart .action.tocart,
.catalog-product-view .product-options-bottom .box-tocart .action.tocart,
.catalog-product-view .bundle-options-container .box-tocart .action.tocart,
.cart-container .checkout-methods-items .action.primary,
.checkout-payment-method .payment-methods .actions-toolbar .primary,
.account.mpgiftcard-index-index .block.block-gift-card .form.check-code .action.primary {
  font-size: 15px;
}

.actions-toolbar > .primary button,
.cart-summary .actions-toolbar > .primary button,
.cart-summary .form.giftregistry .fieldset .action.primary,
.paypal-review .block .actions-toolbar .action.primary,
.block-compare .action.compare,
.cart-summary .actions-toolbar > .primary .cart.table-wrapper .actions-toolbar > .action,
.cart-summary .actions-toolbar > .primary .action-gift .modal-footer .action.primary,
.form-address-edit .actions-toolbar .action.primary {
  font-size: 15px;
}

button.action.action-check.primary {
  border: 2px solid #000 !important;
}

.sidebar a {
  font-size: 13px;
}

.block.send-invitations .action.primary.bt-send button {
  border: 1px;
}

.ie11 .owl-carousel .owl-stage-outer {
  max-height: 85px;
}

.video-flexslider.carousel {
  width: 96.3%;
  margin: 0 auto;
}

.cta-block .cta-text h2 {
  text-transform: capitalize;
}

.franchise-options .action.submit.primary {
  padding: 0 20px;
}

.payment-customer-storedacct #CC_EXPIRES_YEAR-error {
  position: relative;
}

.payment-customer-storedacct #CC_EXPIRES_MONTH-error,
#CC_NUM-error {
  position: relative;
}

.payment-customer-storedacct #payment_form em {
  color: #e02b27;
  font-size: 1.2rem;
}

.payment-customer-storedacct #payment_form .inner-form-container fieldset {
  margin-bottom: 30px;
}

.payment-customer-storedacct #bluepay_payment_cc_number_div,
#bluepay_payment_cc_type_exp_div {
  padding-bottom: 30px;
}

.payment-customer-storedacct #my-subscriptions-table th {
  text-transform: capitalize;
}

.payment-customer-storedacct .payment-method-content .form .number label {
  padding-right: 8px;
}

.payment-customer-storedacct .payment-method-content .field.date.required > .control {
  width: 100%;
}

.payment-customer-storedacct .field .label {
  color: #313131;
  font-size: 18px;
  width: 24.8%;
  float: left;
  text-align: right;
}

.payment-customer-storedacct .payment-method-content .field.date.required > .control > .control {
  width: 74.2%;
  float: left;
  margin: 0 0 8px 8px;
}

.payment-customer-storedacct #bluepay_payment_cc_type_exp_div .control {
  width: 74.2%;
  float: left;
  margin: 0 0 8px 8px;
}

.payment-customer-storedacct #bluepay_payment_cc_number_div .control {
  width: 74.2%;
  float: left;
  margin-bottom: 8px;
}

.payment-customer-storedacct .payment-method-content .field.number .control {
  width: 74.2%;
  float: left;
  margin-bottom: 8px;
}

.navi.nav-mobile ul.level0 .nav-item > a {
  background-color: #1c2a67 !important;
  color: #fff !important;
  font-size: 14px !important;
  border: 1px solid;
}

@media only screen and  (min-width: 1025px) and (max-width: 1250px) {
  .header-top-container .left-column div { margin-right: 10px; }

  .social-icons h4 {
    float: none;
  }

  .grid-container.footer-left-logos .grid12-6 {
    width: 100%;
  }

  .before-after-section .section-content {
    padding-top: 20px;
    width: 47%;
  }

  .before-after-buttons a {
    display: block;
    margin-top: 7px;
  }

  .top_loc,
  .header-top a { font-size: 16px; }

  ul.top-additional a,
  .my-account p { font-size: 14px; }

  .home-cta .grid12-3 {
    width: 45%;
    margin-bottom: 2%;
  }
  .make-appointment .fieldset .legend { font-size: 42px; }
  .footer-menu ul li a { margin: 0 25px; }
  .homeshop-content img { margin-top: 50px; }
  .contact-form-container { width: 90%; }
}

@media only screen and  (min-width: 920px) and (max-width: 1024px) {
  .header-top-container .left-column .top-contact { width: 95%; }

  .header-top-container .left-column div {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
  }

  .header-top-container .right-column {
    float: none;
    width: 40%;
    margin: 0 auto;
    display: block;
  }

  .header-container .item-right:nth-child(3),
  .header-container .right-column .top-links ul { float: none; }
  .header-top-links { margin-top: 0; }

  .home-cta .grid12-3 {
    width: 45%;
    margin-bottom: 2%;
  }
  .make-appointment .fieldset .legend { font-size: 35px; }
  .footer-menu ul li a { margin: 0 14px; }
  .footer-menu ul { text-align: center; }
  .homeshop-content { top: 15%; }

  .homeshop-content h5 {
    margin: 30px 0 40px;
    font-size: 40px;
  }
  .homeshop-content img { margin-top: 50px; }

  .social-icons h4 {
    float: none;
  }

  .grid-container.footer-left-logos .grid12-6 {
    width: 100%;
  }

  .before-after-section .section-content {
    padding-top: 20px;
    width: 47%;
  }

  .before-after-buttons a {
    display: block;
    margin-top: 7px;
  }

  .header-container .logo-wrapper .logo img {
    width: 70%;
  }

  .make-appointment {
    padding: 35px;
  }

  .header-container .item-right:nth-child(2),
  .header-container .right-column .top-links ul {
    float: none;
  }
  .contact-form-container { width: 90%; }
}

@media only screen and (max-width: 768px) {
  .main-container {
    padding-top: 0;
  }

  .form .search-autocomplete {
    top: 66px;
    left: 0;
    overflow-y: auto;
    max-height: 70vh;
    width: 100%;
    margin: -15px 0 0;
  }

  .mobile-appointment {
    display: block;
  }

  .mobile-appointment .header-appointment {
    position: relative;
    width: auto;
    border-radius: 6px;
    margin: 10px 0;
  }

  .homeshop-content h5 {
    color: #fff;
    font-size: 40px;
  }

  .home_brand.container .grid12-5 {
    width: 100%;
  }

  .home_brand.container .grid12-2 {
    display: none;
  }

  .section.heading-primary p {
    font-size: 20px;
  }

  .grid-container.footer-left-logos .grid12-6 {
    width: 100%;
  }

  .make-appointment label {
    font-size: 15px;
  }

  .my-account p {
    display: none;
  }

  .my-account ul.header.links {
    display: block;
    position: relative;
    width: 100% !important;
  }

  .banner-bottom p,
  .banner-bottom h1 {
    font-size: 23px;
    width: 90%;
  }

  .social-icons a {
    display: block;
  }

  .social-icons h4 {
    float: none !important;
  }

  .before-after-section .section-content {
    padding-top: 20px;
    width: 47%;
  }

  .amsearch-wrapper-content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .testimonials .carousel .slides li {
    margin-right: 55px !important;
    margin-left: 30px;
    width: 680px !important;
  }

  .testimonials-flexslider .slides {
    width: 100% !important;
    transform: inherit !important;
    -webkit-transform: inherit !important;
  }

  .testimonials .testimonials-flexslider a.flex-next::before { display: none; }
  .testimonials-flexslider .testi_author { text-transform: uppercase !important; }
}

.make-appointment {
  width: 79% !important;
  margin-left: 3% !important;
}

@media only screen and  (min-width: 768px) and (max-width: 920px) {
  .franchise-options .legend { font-size: 28px; }

  .contact-index-index .grid12-4 {
    width: 100%;
    text-align: center;
  }

  .contact-index-index .grid12-6 {
    width: 100%;
  }
}

@media only screen and  (min-width: 770px) and (max-width: 920px) {
  .header-top-container .left-column .top-contact { width: 95%; }

  .header-top-container .left-column div {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
  }

  .header-top-container .right-column {
    float: none;
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .header-container .item-right:nth-child(3),
  .header-container .right-column .top-links ul { float: none; }
  .header-top-links { margin-top: 0; }

  .home-cta .grid12-3 {
    width: 45%;
    margin-bottom: 2%;
  }
  .make-appointment .fieldset .legend { font-size: 32px; }
  .homeshop-content p { font-size: 20px; }
  .footer-menu ul li a { margin: 0 10px; }
  .footer-menu ul { text-align: center; }
  .homeshop-content { top: 15%; }

  .homeshop-content h5 {
    margin: 30px 0 40px;
    font-size: 22px;
  }
  .homeshop-content img { margin-top: 50px; }

  .home-shop a {
    font-size: 17px;
    max-width: 200px;
  }
  .testimonials .carousel li { margin-right: 150px !important; }

  .social-icons h4 {
    float: none;
  }

  .grid-container.footer-left-logos .grid12-6 {
    width: 100%;
  }

  .before-after-section .section-content {
    padding-top: 20px;
    width: 47%;
  }

  .before-after-buttons a {
    display: block;
    margin-top: 7px;
  }

  .header-container .logo-wrapper .logo img {
    width: 70%;
  }

  .make-appointment {
    padding: 35px;
  }

  .header-appointment a,
  .header-appointment a:hover { font-size: 15px; }

  .header-container .item-right:nth-child(2),
  .header-container .right-column .top-links ul {
    float: none;
  }

  .testimonials .flex-prev {
    left: 9px;
  }
  .testimonials a.flex-next { right: 9px; }
}

@media only screen and  (max-width: 769px) {
  .make-appointment .fieldset .legend { font-size: 25px; }

  .footer-menu ul li a {
    margin: 0 10px;
    font-size: 14px;
  }
  .footer-menu ul { text-align: center; }

  .home-cta .grid12-3 {
    width: 45%;
    margin-bottom: 2%;
    float: none;
    display: inline-block;
  }

  .header-top-container .left-column div {
    float: none;
    display: inline-block;
  }

  .header-top-container .top-contact {
    width: 100%;
    text-align: center;
  }

  .header-top-container .right-column {
    float: none;
    width: 190px;
    margin: 0 auto;
    display: block;
  }
  .header-top-container .right-column .header-compare.hidden-xs { display: none !important; }

  .my-account {
    display: block;
    margin: 14px 10px 0;
  }

  .header-container .top-links ul,
  .header-top-links { float: none !important; }

  .header-mobile .skip-content--style a,
  .my-account p {
    color: #fff !important;
    font-size: 14px;
  }

  ul.top-additional li::before,
  .my-account::before { display: none; }
  #header-account { background: @custom-primary-color !important; }

  .header-top-links {
    margin: 0 10px 0 9px;
    border: 1px solid;
    padding-left: 9px;
    text-transform: capitalize;
  }

  .top-additional { margin-bottom: 0; }
  .top-additional li { margin-bottom: 2px; }
  .header-top-container .right-column .item-right.item-interface { display: none !important; }

  .home-cta {
    margin: 0 auto;
    text-align: center;
  }
  .testimonials .carousel li { margin-right: 150px !important; }
  #header-cart { display: block; }
  .header-container .mini-cart.minicart-wrapper.active .mage-dropdown-dialog { display: block !important; }
  .header-container .mini-cart.minicart-wrapper .mage-dropdown-dialog { display: none !important; }

  .media-coverage .flex-prev,
  .media-coverage a.flex-next {
    position: absolute;
    top: 18.9%;
  }
  .homeshop-content h5 { margin: 15px 0 15px; }
  .banner-bottom { margin-top: 30px; }

  .homeshop-content {
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .homeshop-content p { font-size: 23px; }
  .homeshop-content img { margin-top: 60px; }
  .operation-hours { bottom: -7px; }
  .footer-secondary h6 { font-size: 16px; }
  .footer-secondary .grid12-4 { font-size: 15px; }
}

@media only screen and  (max-width: 767px) {
  .payment-method .fieldset > .field:not(.choice) > .label {
    width: 50%;
    text-align: left;
  }

  .webforms-success-text {
    background-color: #1c2a76 !important;
  }

  .contact-index-index .grid12-4 {
    width: 100%;
    text-align: center;
  }
  .contact-form-container { width: 96%; }
  .header-top-container .left-column div { margin-right: 0; }
  .banner-bottom p { width: 90%; }

  .homeshop-content p {
    color: #fff;
    font-size: 24px;
  }

  .about-us {
    text-align: center;
    margin: 10px;
  }
  .homeshop-content { top: 10%; }
  .testimonials h2 { font-size: 40px; }

  .item.item-right.tag-line {
    border: none;
    display: none !important;
  }

  .operation-hours {
    width: 100%;
  }

  .homeshop-content h5 {
    color: #fff;
    font-size: 25px;
  }
  .home-shop a { font-size: 20px; }

  .make-appointment .fieldset > .field.type-select-checkbox {
    text-align: left;
  }

  .footer-container .social-links.item-right .grid12-4 {
    margin-bottom: 20px;
  }

  .responsive-operation-hours {
    display: block;
    margin-bottom: 30px;
  }
  .responsive-operation-hours img { max-width: 280px; }
  .responsive-operation-hours p { color: #fff; }
  .footer-secondary.footer.container { text-align: center; }
  .dallas-loc { margin-top: 30px; }
  .footer-menu ul li a { margin: 0 15px; }

  .footer-carecredit {
    position: relative;
    bottom: 0;
    margin-top: 25px;
  }

  .testimonials .carousel li .flex {
    &-nav-prev,
    &-nav-next {
      display: none;
    }
  }

  section.before-after-section h4 { font-size: 25px; }
  .comparison.grid12-6 { margin-bottom: 40px; }
  .examples.grid12-6 { text-align: center; }
  .video-gallery .grid12-4 { text-align: center; }
  .franshise-call { margin: auto; }

  .franchise-disclaimer h6 {
    font-size: 18px;
    font-weight: 500;
  }
  .franchise-options .grid12-7 { margin-top: 50px; }

  .testimonials .carousel .slides li {
    margin-left: 30px;
    width: 280px !important;
    margin-right: 220px !important;
  }
  .testimonials .flex-prev { left: 0; }
  .payment-customer-storedacct .payment-method-content .field.date.required > .control { width: 100%; }

  .payment-customer-storedacct .payment-method-content .field.date.required > .control > .control {
    width: 100%;
    float: none;
  }

  .payment-customer-storedacct #bluepay_payment_cc_type_exp_div .control {
    width: 100%;
    float: none;
  }

  .payment-customer-storedacct #bluepay_payment_cc_number_div .control {
    width: 100%;
    float: none;
  }

  .payment-customer-storedacct .payment-method-content .field.number .control {
    width: 100%;
    float: none;
  }

  .payment-customer-storedacct .payment-method-content .form .date label {
    width: 100%;
    float: none;
    text-align: left;
  }

  .payment-customer-storedacct #bluepay_payment_cc_number_div label {
    width: 100%;
    float: none;
    text-align: left;
  }

  .payment-customer-storedacct .payment-method-content .field.number label {
    width: 100%;
    float: none;
    text-align: left;
  }

  .payment-customer-storedacct #bluepay_payment_cc_number_div,
  #bluepay_payment_cc_type_exp_div { padding-bottom: 0; }

  #header-account .ac-below-768 {
    display: block;
  }

  .header-top-links {
    border: none;
    padding-left: 0;
  }

  .section.heading-primary img {
    max-width: 350px;
  }

  .grid12-6.footer-hours > img {
    visibility: visible;
  }
}

@media only screen and  (max-width: 480px) {
  .home-shop { background-color: #1c2a67; }

  .make-appointment {
    background-color: #fff;
    padding: 20px;
  }

  .footer-container .social-links.item-right {
    float: none;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .social-links {
    margin-top: 20px !important;
  }

  .homeshop-content p,
  .homeshop-content h5 {
    font-size: 20px;
    line-height: 1.4;
  }

  .homeshop-content {
    position: relative;
    padding: 10px 0 15px;
  }

  .footer-menu ul li,
  .footer-submenu ul li { display: block; }
  .footer-submenu ul li a::before { display: none; }
  .testimonials h2 { font-size: 35px; }
  .franchise-options .legend { font-size: 27px; }
  .contact-form-container { padding: 40px 5px; }
}

@media only screen and  (max-width: 360px) {
  .media-coverage .flex-prev,
  .media-coverage a.flex-next {
    top: 19.7%;
    height: 224px;
  }
  .footer-submenu ul li a::before { display: none; }
}

@media only screen and (max-width: 320px) {
  .testimonials .carousel .slides li { margin-right: 160px !important; }
}
